.div-main {
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
}

.div-tabela {
  width: 95%;
  height: auto;
  background-color: rgb(27, 24, 24);
  padding: 20px;
  border-radius: 10px;
}
